<p id="notice"><%= notice %></p>



<div class="ContainerShow">
<%= link_to 'Accueil', annonces_path, class: "back" %>
    <div class="MiniContainer">



        <div class="infosbox">
            <div class="infos">


                <div class="titreshow">
                        <%= @annonce.title %>

                </div>

                <div class="nameshow">

                    
                        
                        <%= @annonce.name %>
                  
                </div>


                <div class="localisationshow">
                      <%= @annonce.localisation %>
                    
                </div>

                <div class="descriptionshow">
                    
                    
                        <%= @annonce.description %>
                    
                </div>
               
<%= image_tag("boutonfeuille.png", class: 'logo', id: 'identifier', alt: 'logo') %>

                <%= link_to 'Edit', edit_annonce_path(@annonce) %> |
                
            </div>
        </div>


    </div>
</div>